{{> _header}}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      {{> _sidebar}}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <ul class="pull-right options">
        <li><a href="#" class="btn btn-default">Export CSV</a></li>
        <li><a href="#" class="btn btn-default" data-toggle="modal" data-target="#addAttendee">Add Attendee</a></li>
      </ul>
      <h1 class="page-header">Attendees</h1>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Organization</th>
              <th>Title</th>
              <th>Twitter Handle</th>
              <th>Shirt Size</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each registrations}}
              {{#each attendees}}
                <tr>
                  <td>{{first_name}}</td>
                  <td>{{last_name}}</td>
                  <td>{{email_address}}</td>
                  <td>{{organization}}</td>
                  <td>{{title}}</td>
                  <td><a href="http://twitter.com/{{twitter_handle}}">{{twitter_handle}}</a></td>
                  <td>{{shirt_size}}</td>
                  <td><a href="#">Edit</a></td>
                </tr>
              {{/each}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="addAttendee" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Attendee</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" placeholder="">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" placeholder="">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" class="form-control" id="email" placeholder="">
          </div>
          <div class="form-group">
            <label for="organization">Organziation</label>
            <input type="text" class="form-control" id="organziation" placeholder="">
          </div>
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="">
          </div>
          <div class="form-group">
            <label for="twitter_handle">Twitter Handle</label>
            <input type="text" class="form-control" id="twitter_handle" placeholder="">
          </div>
          <div class="form-group">
            <label for="shirt_size">Shirt Size</label>
            <input type="text" class="form-control" id="shirt_size" placeholder="">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{{> _footer}}